@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(113, 20, 220), rgb(69, 17, 71));
}

.box{
    color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    font-weight: bold;
}
fieldset{
    border: 3px solid #562FD0;
    border-radius: 10px;
}

legend{
    border: 1px solid #562FD0;
    padding: 10px;
    text-align: center;
    background: #562FD0;
    border-radius: 8px;
    margin-bottom: 25px;
}

.input-box{
    position: relative;
}

.input-user{
    background: none;
    border: none;
    border-bottom: 1px solid #562FD0;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}

.label-input{
    position: absolute;
    top: 0%;
    left: 0%;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.input-user:focus ~ .label-input, .input-user:valid ~ .label-input{
    top: -20px;
    font-size: 12px;
    color: white;
}

#data-nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    color: white;
    background-color: #562FD0;
    cursor: pointer;
    font-weight: bold;
}

#submit{
    background: #562FD0;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

#submit:hover{
    background: #4808f8;
}

#data-nascimento:hover{
    background: #4808f8;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1) brightness(100%) sepia(100%) saturate(1%) hue-rotate(10000deg);
}






